.ui-helper-hidden {
    display: none
}

.ui-helper-hidden-accessible {
    position: absolute;
    left: -99999999px
}

.ui-helper-reset {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    font-size: 100%;
    list-style: none
}

.ui-helper-clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

.ui-helper-clearfix {
    display: inline-block
}

* html .ui-helper-clearfix {
    height: 1%
}

.ui-helper-clearfix {
    display: block
}

.ui-helper-zfix {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0;
    filter: Alpha(Opacity=0)
}

.ui-state-disabled {
    cursor: default !important
}

.ui-icon {
    display: block;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat
}

.ui-widget-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.ui-widget .ui-widget {
    font-size: 1em
}

.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
    font-size: 1em
}

.ui-widget-content {
    border: 1px solid #ccc
}

.ui-widget-content a {
    color: #222
}

.ui-widget-header {
    border-bottom: 1px solid #aaa;
    background: #ccc url(../../../../../../../../../../themes/grandwedding/css/jqueryui/images/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50% repeat-x;
    font-weight: 700
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
    border: 1px solid #d3d3d3;
    background: #e6e6e6 url(../../../../../../../../../../themes/grandwedding/css/jqueryui/images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x;
    font-weight: 400;
    color: #555
}

.ui-state-default {
    background: #fff
}

.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
    color: #555;
    text-decoration: none
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
    border: 1px solid #999;
    background: #dadada url(../../../../../../../../../../themes/grandwedding/css/jqueryui/images/ui-bg_glass_75_dadada_1x400.png) 50% 50% repeat-x;
    font-weight: 400;
    color: #212121
}

.ui-state-hover,
.ui-widget-header,
.ui-state-default {
    background: 0 0
}

.ui-state-hover a,
.ui-state-hover a:hover {
    color: #212121;
    text-decoration: none
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
    border: 1px solid #ccc;
    background: #fff url(../../../../../../../../../../themes/grandwedding/css/jqueryui/images/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x;
    font-weight: 400;
    color: #212121
}

.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
    color: #212121;
    text-decoration: none
}

.ui-widget :active {
    outline: none
}

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
    border: 1px solid #fcefa1;
    background: #fbf9ee url(../../../../../../../../../../themes/grandwedding/css/jqueryui/images/ui-bg_glass_55_fbf9ee_1x400.png) 50% 50% repeat-x;
    color: #363636
}

.ui-state-highlight a,
.ui-widget-content .ui-state-highlight a,
.ui-widget-header .ui-state-highlight a {
    color: #363636
}

.ui-state-error,
.ui-widget-content .ui-state-error,
.ui-widget-header .ui-state-error {
    border: 1px solid #cd0a0a;
    background: #fef1ec url(../../../../../../../../../../themes/grandwedding/css/jqueryui/images/ui-bg_glass_95_fef1ec_1x400.png) 50% 50% repeat-x;
    color: #cd0a0a
}

.ui-state-error a,
.ui-widget-content .ui-state-error a,
.ui-widget-header .ui-state-error a {
    color: #cd0a0a
}

.ui-state-error-text,
.ui-widget-content .ui-state-error-text,
.ui-widget-header .ui-state-error-text {
    color: #cd0a0a
}

.ui-priority-primary,
.ui-widget-content .ui-priority-primary,
.ui-widget-header .ui-priority-primary {
    font-weight: 700
}

.ui-priority-secondary,
.ui-widget-content .ui-priority-secondary,
.ui-widget-header .ui-priority-secondary {
    opacity: .7;
    filter: Alpha(Opacity=70);
    font-weight: 400
}

.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
    opacity: .35;
    filter: Alpha(Opacity=35);
    background-image: none
}

.ui-icon {
    width: 32px;
    height: 32px;
    background-image: url(../../../../../../../../../../themes/grandwedding/css/jqueryui/images/ui-icons_222222_256x240.png)
}

.ui-widget-content .ui-icon {
    background-image: url(../../../../../../../../../../themes/grandwedding/css/jqueryui/images/ui-icons_222222_256x240.png)
}

.ui-widget-header .ui-icon {
    background-image: url(../../../../../../../../../../themes/grandwedding/css/jqueryui/images/ui-icons_222222_256x240.png)
}

.ui-state-default .ui-icon {
    background-image: url(../../../../../../../../../../themes/grandwedding/css/jqueryui/images/ui-icons_888888_256x240.png)
}

.ui-state-hover .ui-icon,
.ui-state-focus .ui-icon {
    background-image: url(../../../../../../../../../../themes/grandwedding/css/jqueryui/images/ui-icons_454545_256x240.png)
}

.ui-state-active .ui-icon {
    background-image: url(../../../../../../../../../../themes/grandwedding/css/jqueryui/images/ui-icons_454545_256x240.png)
}

.ui-state-highlight .ui-icon {
    background-image: url(../../../../../../../../../../themes/grandwedding/css/jqueryui/images/ui-icons_2e83ff_256x240.png)
}

.ui-state-error .ui-icon,
.ui-state-error-text .ui-icon {
    background-image: url(../../../../../../../../../../themes/grandwedding/css/jqueryui/images/ui-icons_cd0a0a_256x240.png)
}

.ui-icon-carat-1-n {
    background-position: 0 0
}

.ui-icon-carat-1-ne {
    background-position: -16px 0
}

.ui-icon-carat-1-e {
    background-position: -32px 0
}

.ui-icon-carat-1-se {
    background-position: -48px 0
}

.ui-icon-carat-1-s {
    background-position: -64px 0
}

.ui-icon-carat-1-sw {
    background-position: -80px 0
}

.ui-icon-carat-1-w {
    background-position: -96px 0
}

.ui-icon-carat-1-nw {
    background-position: -112px 0
}

.ui-icon-carat-2-n-s {
    background-position: -128px 0
}

.ui-icon-carat-2-e-w {
    background-position: -144px 0
}

.ui-icon-triangle-1-n {
    background-position: 0 -16px
}

.ui-icon-triangle-1-ne {
    background-position: -16px -16px
}

.ui-icon-triangle-1-e {
    background-position: -32px -16px
}

.ui-icon-triangle-1-se {
    background-position: -48px -16px
}

.ui-icon-triangle-1-s {
    background-position: -64px -16px
}

.ui-icon-triangle-1-sw {
    background-position: -80px -16px
}

.ui-icon-triangle-1-w {
    background-position: -96px -16px
}

.ui-icon-triangle-1-nw {
    background-position: -112px -16px
}

.ui-icon-triangle-2-n-s {
    background-position: -128px -16px
}

.ui-icon-triangle-2-e-w {
    background-position: -144px -16px
}

.ui-icon-arrow-1-n {
    background-position: 0 -32px
}

.ui-icon-arrow-1-ne {
    background-position: -16px -32px
}

.ui-icon-arrow-1-e {
    background-position: -32px -32px
}

.ui-icon-arrow-1-se {
    background-position: -48px -32px
}

.ui-icon-arrow-1-s {
    background-position: -64px -32px
}

.ui-icon-arrow-1-sw {
    background-position: -80px -32px
}

.ui-icon-arrow-1-w {
    background-position: -96px -32px
}

.ui-icon-arrow-1-nw {
    background-position: -112px -32px
}

.ui-icon-arrow-2-n-s {
    background-position: -128px -32px
}

.ui-icon-arrow-2-ne-sw {
    background-position: -144px -32px
}

.ui-icon-arrow-2-e-w {
    background-position: -160px -32px
}

.ui-icon-arrow-2-se-nw {
    background-position: -176px -32px
}

.ui-icon-arrowstop-1-n {
    background-position: -192px -32px
}

.ui-icon-arrowstop-1-e {
    background-position: -208px -32px
}

.ui-icon-arrowstop-1-s {
    background-position: -224px -32px
}

.ui-icon-arrowstop-1-w {
    background-position: -240px -32px
}

.ui-icon-arrowthick-1-n {
    background-position: 0 -48px
}

.ui-icon-arrowthick-1-ne {
    background-position: -16px -48px
}

.ui-icon-arrowthick-1-e {
    background-position: -32px -48px
}

.ui-icon-arrowthick-1-se {
    background-position: -48px -48px
}

.ui-icon-arrowthick-1-s {
    background-position: -64px -48px
}

.ui-icon-arrowthick-1-sw {
    background-position: -80px -48px
}

.ui-icon-arrowthick-1-w {
    background-position: -96px -48px
}

.ui-icon-arrowthick-1-nw {
    background-position: -112px -48px
}

.ui-icon-arrowthick-2-n-s {
    background-position: -128px -48px
}

.ui-icon-arrowthick-2-ne-sw {
    background-position: -144px -48px
}

.ui-icon-arrowthick-2-e-w {
    background-position: -160px -48px
}

.ui-icon-arrowthick-2-se-nw {
    background-position: -176px -48px
}

.ui-icon-arrowthickstop-1-n {
    background-position: -192px -48px
}

.ui-icon-arrowthickstop-1-e {
    background-position: -208px -48px
}

.ui-icon-arrowthickstop-1-s {
    background-position: -224px -48px
}

.ui-icon-arrowthickstop-1-w {
    background-position: -240px -48px
}

.ui-icon-arrowreturnthick-1-w {
    background-position: 0 -64px
}

.ui-icon-arrowreturnthick-1-n {
    background-position: -16px -64px
}

.ui-icon-arrowreturnthick-1-e {
    background-position: -32px -64px
}

.ui-icon-arrowreturnthick-1-s {
    background-position: -48px -64px
}

.ui-icon-arrowreturn-1-w {
    background-position: -64px -64px
}

.ui-icon-arrowreturn-1-n {
    background-position: -80px -64px
}

.ui-icon-arrowreturn-1-e {
    background-position: -96px -64px
}

.ui-icon-arrowreturn-1-s {
    background-position: -112px -64px
}

.ui-icon-arrowrefresh-1-w {
    background-position: -128px -64px
}

.ui-icon-arrowrefresh-1-n {
    background-position: -144px -64px
}

.ui-icon-arrowrefresh-1-e {
    background-position: -160px -64px
}

.ui-icon-arrowrefresh-1-s {
    background-position: -176px -64px
}

.ui-icon-arrow-4 {
    background-position: 0 -80px
}

.ui-icon-arrow-4-diag {
    background-position: -16px -80px
}

.ui-icon-extlink {
    background-position: -32px -80px
}

.ui-icon-newwin {
    background-position: -48px -80px
}

.ui-icon-refresh {
    background-position: -64px -80px
}

.ui-icon-shuffle {
    background-position: -80px -80px
}

.ui-icon-transfer-e-w {
    background-position: -96px -80px
}

.ui-icon-transferthick-e-w {
    background-position: -112px -80px
}

.ui-icon-folder-collapsed {
    background-position: 0 -96px
}

.ui-icon-folder-open {
    background-position: -16px -96px
}

.ui-icon-document {
    background-position: -32px -96px
}

.ui-icon-document-b {
    background-position: -48px -96px
}

.ui-icon-note {
    background-position: -64px -96px
}

.ui-icon-mail-closed {
    background-position: -80px -96px
}

.ui-icon-mail-open {
    background-position: -96px -96px
}

.ui-icon-suitcase {
    background-position: -112px -96px
}

.ui-icon-comment {
    background-position: -128px -96px
}

.ui-icon-person {
    background-position: -144px -96px
}

.ui-icon-print {
    background-position: -160px -96px
}

.ui-icon-trash {
    background-position: -176px -96px
}

.ui-icon-locked {
    background-position: -192px -96px
}

.ui-icon-unlocked {
    background-position: -208px -96px
}

.ui-icon-bookmark {
    background-position: -224px -96px
}

.ui-icon-tag {
    background-position: -240px -96px
}

.ui-icon-home {
    background-position: 0 -112px
}

.ui-icon-flag {
    background-position: -16px -112px
}

.ui-icon-calendar {
    background-position: -32px -112px
}

.ui-icon-cart {
    background-position: -48px -112px
}

.ui-icon-pencil {
    background-position: -64px -112px
}

.ui-icon-clock {
    background-position: -80px -112px
}

.ui-icon-disk {
    background-position: -96px -112px
}

.ui-icon-calculator {
    background-position: -112px -112px
}

.ui-icon-zoomin {
    background-position: -128px -112px
}

.ui-icon-zoomout {
    background-position: -144px -112px
}

.ui-icon-search {
    background-position: -160px -112px
}

.ui-icon-wrench {
    background-position: -176px -112px
}

.ui-icon-gear {
    background-position: -192px -112px
}

.ui-icon-heart {
    background-position: -208px -112px
}

.ui-icon-star {
    background-position: -224px -112px
}

.ui-icon-link {
    background-position: -240px -112px
}

.ui-icon-cancel {
    background-position: 0 -128px
}

.ui-icon-plus {
    background-position: -16px -128px
}

.ui-icon-plusthick {
    background-position: -32px -128px
}

.ui-icon-minus {
    background-position: -48px -128px
}

.ui-icon-minusthick {
    background-position: -64px -128px
}

.ui-icon-close {
    background-position: -80px -128px
}

.ui-icon-closethick {
    background-position: -96px -128px
}

.ui-icon-key {
    background-position: -112px -128px
}

.ui-icon-lightbulb {
    background-position: -128px -128px
}

.ui-icon-scissors {
    background-position: -144px -128px
}

.ui-icon-clipboard {
    background-position: -160px -128px
}

.ui-icon-copy {
    background-position: -176px -128px
}

.ui-icon-contact {
    background-position: -192px -128px
}

.ui-icon-image {
    background-position: -208px -128px
}

.ui-icon-video {
    background-position: -224px -128px
}

.ui-icon-script {
    background-position: -240px -128px
}

.ui-icon-alert {
    background-position: 0 -144px
}

.ui-icon-info {
    background-position: -16px -144px
}

.ui-icon-notice {
    background-position: -32px -144px
}

.ui-icon-help {
    background-position: -48px -144px
}

.ui-icon-check {
    background-position: -64px -144px
}

.ui-icon-bullet {
    background-position: -80px -144px
}

.ui-icon-radio-off {
    background-position: -96px -144px
}

.ui-icon-radio-on {
    background-position: -112px -144px
}

.ui-icon-pin-w {
    background-position: -128px -144px
}

.ui-icon-pin-s {
    background-position: -144px -144px
}

.ui-icon-play {
    background-position: 0 -160px
}

.ui-icon-pause {
    background-position: -16px -160px
}

.ui-icon-seek-next {
    background-position: -32px -160px
}

.ui-icon-seek-prev {
    background-position: -48px -160px
}

.ui-icon-seek-end {
    background-position: -64px -160px
}

.ui-icon-seek-start {
    background-position: -80px -160px
}

.ui-icon-seek-first {
    background-position: -80px -160px
}

.ui-icon-stop {
    background-position: -96px -160px
}

.ui-icon-eject {
    background-position: -112px -160px
}

.ui-icon-volume-off {
    background-position: -128px -160px
}

.ui-icon-volume-on {
    background-position: -144px -160px
}

.ui-icon-power {
    background-position: 0 -176px
}

.ui-icon-signal-diag {
    background-position: -16px -176px
}

.ui-icon-signal {
    background-position: -32px -176px
}

.ui-icon-battery-0 {
    background-position: -48px -176px
}

.ui-icon-battery-1 {
    background-position: -64px -176px
}

.ui-icon-battery-2 {
    background-position: -80px -176px
}

.ui-icon-battery-3 {
    background-position: -96px -176px
}

.ui-icon-circle-plus {
    background-position: 0 -192px
}

.ui-icon-circle-minus {
    background-position: -16px -192px
}

.ui-icon-circle-close {
    background-position: -32px -192px
}

.ui-icon-circle-triangle-e {
    background-position: -48px -192px
}

.ui-icon-circle-triangle-s {
    background-position: -64px -192px
}

.ui-icon-circle-triangle-w {
    background-position: -80px -192px
}

.ui-icon-circle-triangle-n {
    background-position: -96px -192px
}

.ui-icon-circle-arrow-e {
    background-position: -112px -192px
}

.ui-icon-circle-arrow-s {
    background-position: -128px -192px
}

.ui-icon-circle-arrow-w {
    background-position: -144px -192px
}

.ui-icon-circle-arrow-n {
    background-position: -160px -192px
}

.ui-icon-circle-zoomin {
    background-position: -176px -192px
}

.ui-icon-circle-zoomout {
    background-position: -192px -192px
}

.ui-icon-circle-check {
    background-position: -208px -192px
}

.ui-icon-circlesmall-plus {
    background-position: 0 -208px
}

.ui-icon-circlesmall-minus {
    background-position: -16px -208px
}

.ui-icon-circlesmall-close {
    background-position: -32px -208px
}

.ui-icon-squaresmall-plus {
    background-position: -48px -208px
}

.ui-icon-squaresmall-minus {
    background-position: -64px -208px
}

.ui-icon-squaresmall-close {
    background-position: -80px -208px
}

.ui-icon-grip-dotted-vertical {
    background-position: 0 -224px
}

.ui-icon-grip-dotted-horizontal {
    background-position: -16px -224px
}

.ui-icon-grip-solid-vertical {
    background-position: -32px -224px
}

.ui-icon-grip-solid-horizontal {
    background-position: -48px -224px
}

.ui-icon-gripsmall-diagonal-se {
    background-position: -64px -224px
}

.ui-icon-grip-diagonal-se {
    background-position: -80px -224px
}

.ui-widget-overlay {
    background: #aaa url(../../../../../../../../../../themes/grandwedding/css/jqueryui/images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x;
    opacity: .3;
    filter: Alpha(Opacity=30)
}

.ui-widget-shadow {
    margin: -8px 0 0 -8px;
    padding: 8px;
    background: #aaa url(../../../../../../../../../../themes/grandwedding/css/jqueryui/images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x;
    opacity: .3;
    filter: Alpha(Opacity=30);
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px
}

.ui-accordion .ui-accordion-header {
    cursor: pointer;
    position: relative;
    margin-top: 1px;
    zoom: 1
}

.ui-accordion .ui-accordion-li-fix {
    display: inline
}

.ui-accordion .ui-accordion-header a {
    display: block;
    padding: 1em .3em 1em .7em;
    color: #000
}

.ui-accordion a {
    zoom: 1
}

.ui-accordion-icons .ui-accordion-header a {
    padding-left: 1.6em
}

.ui-accordion .ui-accordion-header .ui-icon {
    position: absolute;
    left: .5em;
    top: 50%;
    margin-top: -15px
}

.ui-accordion .ui-accordion-content {
    padding: 1em;
    border-top: 0;
    margin-top: -2px;
    position: relative;
    top: 1px;
    margin-bottom: 2px;
    overflow: auto;
    display: none;
    zoom: 1
}

.ui-accordion .ui-accordion-content-active {
    display: block
}

.ui-tabs {
    position: relative;
    padding: .2em;
    zoom: 1
}

.ui-tabs .ui-tabs-nav {
    margin: 0;
    padding: .2em .2em 0
}

.ui-tabs .ui-tabs-nav li {
    list-style: none;
    float: left;
    position: relative;
    top: 1px;
    margin: 0 .2em 1px 0;
    border-bottom: 0;
    padding: 0;
    white-space: nowrap
}

.ui-tabs .ui-tabs-nav li a {
    float: left;
    padding: .5em 1em;
    text-decoration: none
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected {
    margin-bottom: 0;
    padding-bottom: 1px
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected a,
.ui-tabs .ui-tabs-nav li.ui-state-disabled a,
.ui-tabs .ui-tabs-nav li.ui-state-processing a {
    cursor: text
}

.ui-tabs .ui-tabs-nav li a,
.ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a {
    cursor: pointer
}

.ui-tabs .ui-tabs-panel {
    display: block;
    border-width: 0;
    padding: 1em 1.4em;
    background: 0 0
}

.ui-tabs .ui-tabs-hide {
    display: none !important
}

.ui-tabs.ui-widget-content {
    border: 0
}

.copyright {
    color: #222;
    font-size: 16px;
    font-weight: 400;
    text-align: center
}

#couple .heading {
    padding-top: 30px
}

#couple .heading i {
    padding: 30px
}

.banner_h1 {
    font-family: roboto condensed, Helvetica, Arial, sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 4px
}

.section--padding {
    padding: 100px 0
}

.page_content_wrapper-1 p,
.page_content_wrapper p {
    padding: 0 !important
}

.event--map,
.event--map i,
.event--map:hover {
    color: #950000;
    text-transform: uppercase;
    letter-spacing: 4px;
    display: inline-block;
    margin-top: 30px
}

#countdown {
    text-align: center
}

#countdown .section-head {
    margin-bottom: 15px;
    z-index: 1
}

#countdown .section-head span {
    display: block;
    position: relative;
    font-family: nunito sans, sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #fff;
    margin-bottom: 0
}

#countdown .section-head h4 {
    position: relative;
    color: #fff;
    font-family: alex brush, cursive;
    font-weight: 400;
    font-size: 60px;
    margin-bottom: 0
}

#countdown .section-head p {
    color: #fff;
    font-size: 24px;
    margin-bottom: 0
}

#countdown ul {
    margin-bottom: 0;
    padding: 0
}

#countdown li {
    font-family: nunito sans, sans-serif;
    font-weight: 400;
    display: inline-block;
    font-size: 15px;
    list-style-type: none;
    padding: 15px;
    color: #fff;
    line-height: 3em;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px
}

#countdown li span {
    display: block;
    font-family: nunito sans, sans-serif;
    font-size: 60px;
    font-weight: 700;
    color: #fff;
    letter-spacing: -1px
}

@media all and (max-width:768px) {
    #countdown li {
        font-size: 12px;
        padding: 15px
    }
    #countdown li span {
        font-size: 60px
    }
}

.donate-modal {
    display: none;
    position: fixed;
    z-index: 999999;
    padding-top: 100px;
    padding-bottom: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000;
    background-color: rgba(0, 0, 0, .5)
}

.donate-modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 750px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
    -webkit-animation-name: animatetopfordonatemodal;
    -webkit-animation-duration: .4s;
    animation-name: animatetopfordonatemodal;
    animation-duration: .4s
}

.donate-modal strong,
.donate-modal h3 {
    font-family: inherit !important
}

.donate-modal-close {
    color: #fff;
    float: right;
    font-size: 28px;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer
}

.donate-modal-header {
    padding: 8px 16px;
    background-color: bisque;
    color: #fff;
    font-size: 30px;
    text-align: center;
    line-height: 40px
}

.donate-modal-header strong {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    color: #fff
}

.donate-modal-header strong span {
    margin-left: 10px
}

.donate-modal-body {
    padding: 0 15px
}

.donate-box {
    display: flex;
    justify-content: center
}

.donate-box .donate-card {
    width: 430px;
    margin: 20px;
    padding: 20px
}

.donate-box .donate-card p {
    font-size: 16px
}

.donate-box .donate-card p:last-child {
    margin-bottom: 0 !important
}

@media(max-width:699px) {
    .donate-box .donate-card {
        width: 100%;
        margin: 20px 5px
    }
}

.donate-box .donate-card {
    position: relative
}

.donate-box .donate-card .qr-code-image {
    max-width: 180px;
    max-height: 180px;
    border: 1px solid #ccc;
    padding: 3px;
    margin: auto;
    display: block;
    width: 100%;
    height: auto;
    object-fit: contain;
    aspect-ratio: 1/1
}

.donate-box .cryptos-box {
    border-top: 1px solid #f23b43;
    margin-top: 25px
}

.donate-box .cryptos-box h4 {
    margin: 0;
    margin-top: 20px;
    text-align: center
}

.donate-box .cryptos-box .cryptos-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: -10px;
    margin-left: -10px;
    margin-top: 10px
}

.donate-box .cryptos-box .cryptos-items .crypto-item {
    padding: 10px 10px 0
}

.donate-box .cryptos-box .cryptos-items .crypto-item img {
    width: 50px;
    max-width: 100%;
    min-width: 35px;
    cursor: pointer
}

.donate-box .cryptos-box-view {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    width: 100%;
    height: 100%;
    border-radius: 7px;
    padding: 10px;
    text-align: center
}

.donate-box .cryptos-box-view h5 {
    font-weight: 700;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px
}

.donate-box .cryptos-box-view h5 img {
    width: 25px
}

.donate-box .cryptos-box-view h5 .coin-img {
    margin-right: 5px
}

.donate-box .cryptos-box-view h5 .coin-id {
    margin-left: 5px
}

.donate-box .cryptos-box-view .coin-address {
    display: block;
    padding: 10px;
    background: #ffe2e4;
    margin-bottom: 15px;
    word-break: break-word;
    color: #201f1f
}

.donate-box .cryptos-box-view .cryptos-box-view-close {
    margin-top: 15px;
    background: #f23b43;
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
    border: 1px solid #e3252d
}

.donate-box .cryptos-box-view .cryptos-box-view-close:hover {
    background: #e3252d
}

.donate-header {
    padding: 8px 16px;
    color: #fff;
    font-size: 30px;
    text-align: center;
    line-height: 40px
}

.donate-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: relative;
    background-color: #fff
}

.donate-oliven-title {
    color: #000;
    margin-bottom: 0;
    font-weight: 500;
    font-size: 22px;
    letter-spacing: 1px
}

#donate {
    padding-top: 0
}

.donate-body {
    padding: 30px 0
}

.donate--img1 {
    position: absolute;
    bottom: -30px;
    left: -50px;
    width: 130px
}

.donate--img2 {
    position: absolute;
    top: -20px;
    right: -34px;
    width: 130px
}

@media screen and (max-width:992px) {
    .donate-box {
        padding: 24px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center
    }
}

@media screen and (max-width:576px) {
    .donate--img1 {
        position: absolute;
        bottom: -25px;
        left: -22px;
        width: 100px
    }
    .donate--img2 {
        position: absolute;
        top: -30px;
        right: -12px;
        width: 95px
    }
}

.oliven-title-meta {
    display: block;
    position: relative;
    top: 12px;
    font-weight: 400;
    font-size: 30px;
    color: #000;
    line-height: 1.5em;
    margin-bottom: 10px
}

.oliven-title {
    color: #000;
    margin-bottom: 0;
    font-weight: 500;
    font-size: 30px;
    letter-spacing: 1px;
    text-transform: uppercase
}

.gallery {
    padding: 30px auto
}

i.ti-arrow-up {
    display: none !important
}

#header .headerLogo {
    font-size: 24px;
    color: #fff;
    padding: 22px 0
}

#header #custom_logo .headerLogo {
    font-size: 24px;
    color: #000;
    padding: 22px 0
}

#header #logo_right_button {
    display: none
}

#gallery .gallery--title,
#donate .donate--title {
    text-align: center;
    padding: 200px 0;
    background-color: #faf2ed;
    color: #fff;
    background-position: center top
}

.eventContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 200px 0;
    justify-content: center;
    align-items: center
}

.eventContainer_h2 {
    color: #fff;
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
    text-align: center
}

.eventContainer_span {
    color: #fff;
    border-color: #fff;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 5px;
    font-family: Helvetica;
    text-transform: uppercase;
    opacity: .8
}

.coupleContainer {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 100px 0
}

.coupleBride {
    display: grid;
    grid-template-columns: 33.333% 66.667%;
    gap: 40px
}

.coupleGroom {
    display: grid;
    grid-template-columns: 66.667% 33.333%;
    gap: 40px
}

.coupleBride_img,
.coupleGroom_img {
    width: 100%;
    height: 100%;
    object-fit: cover
}

.coupleBride_wrap,
.coupleGroom_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 40px 145px;
    background-color: #fff
}

.coupleGroom_wrap .coupleGroom_wrap--introduce,
.coupleBride_wrap .coupleBride_wrap--introduce {
    padding-bottom: 0;
    margin-bottom: 0
}

.coupleBride_wrap--title,
.coupleGroom_wrap--title {
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #000;
    font-weight: 900
}

.coupleBride_wrap--introduce,
.coupleGroom_wrap--introduce {
    white-space: pre-line;
    text-align: center
}

@media screen and (max-width:991px) {
    #header #logo_right_button {
        display: block;
        padding: 20px 0
    }
    #header .headerLogo {
        font-size: 24px !important;
        color: #fff;
        padding: 4px 0
    }
    #header #custom_logo .headerLogo {
        font-size: 24px !important;
        color: #000;
        padding: 4px 0
    }
}

@media screen and (max-width:767px) {
    #header #logo_right_button {
        padding: 0
    }
    #header #custom_logo .headerLogo {
        font-size: 24px !important;
        color: #000;
        padding: 3px 0
    }
    #couple .bride,
    #couple .groom {
        width: 100%
    }
    #gallery .gallery--title,
    #donate .donate--title {
        text-align: center;
        padding: 100px 0 !important;
        background-color: #faf2ed;
        color: #fff
    }
    .section--padding {
        padding: 0
    }
    .coupleContainer {
        padding: 0 0
    }
    .coupleBride {
        display: grid;
        grid-template-columns: 100%;
        gap: 40px
    }
    .coupleGroom {
        display: flex;
        flex-direction: column-reverse;
        gap: 40px
    }
    .coupleBride_wrap--title,
    .coupleGroom_wrap--title {
        font-size: 20px
    }
}

@media screen and (max-width:575px) {
    #header .headerLogo {
        font-size: 20px !important
    }
    #header #custom_logo .headerLogo {
        font-size: 20px !important;
        padding: 3px 0
    }
    .coupleBride_wrap,
    .coupleGroom_wrap {
        padding: 40px
    }
    #event .eventContainer {
        padding: 0
    }
}

@media screen and (max-width:400px) {
    #header .headerLogo {
        font-size: 16px !important
    }
    #header #custom_logo .headerLogo {
        font-size: 16px !important;
        padding: 6px 0
    }
}